[submodule "evaluation/common_metrics_on_video_quality"]
	path = evaluation/common_metrics_on_video_quality
	url = https://github.com/JunyaoHu/common_metrics_on_video_quality.git
[submodule "diff-gaussian-rasterization"]
	path = diff-gaussian-rasterization
	url = https://github.com/Zerg-Overmind/diff-gaussian-rasterization
[submodule "simple-knn"]
	path = simple-knn
	url = https://github.com/DSaurus/simple-knn
[submodule "guidance/dynamicrafter"]
	path = guidance/dynamicrafter
	url = https://github.com/Doubiiu/DynamiCrafter
